<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.moneypot.com">
        <img src="/img/grey-logo-30.png" style="display: inline-block;">
        MoneyPot
      </a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Blog</a></li>
        <li><a href="https://www.moneypot.com/support">Support</a></li>
        <li><a href="https://www.moneypot.com/faq">FAQ</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
